* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url('restau\ back.png');
    background-repeat: no-repeat;
    background-size: 130% 90%;
    padding: 0px;
    margin: 0px;
}


/* Navigation bar */

.nav-bar {
    font-size: 20px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 20px;
}

.title_nav_items li a {
    color: #424242;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
}

.Restaurant {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: bolder;
    text-align: left;
    color: #424242;
}

.title_nav_items li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
    color: #000;
}

.nav-icons li {
    display: inline;
    padding: 0px 20px;
}


/* Create four equal columns that floats next to each other */

.column_2 {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */

.row_2:after {
    content: "";
    display: table;
    clear: both;
}


/* Create two equal columns that floats next to each other */

.column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}


/* Clear floats after the columns */

.row_1:after {
    content: "";
    display: table;
    clear: both;
}

.Penne-Pasta-with-Soyaballs {
    font-family: ProductSans;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 5rem;
    letter-spacing: inherit;
    text-align: left;
    color: #2a272d;
}

.Penne-Pasta-with-Soyaballs-in-our-restaurant-at-a-special-price- {
    font-family: ProductSans;
    font-size: 35px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: rgba(42, 39, 45, 0.5);
}

.Penne-Pasta-with-Soyaballs-in-our-restaurant-at-a-special-price- .price {
    color: #2a272d;
    font-size: 35px;
}

.price-1 {
    width: 130px;
    height: 64px;
    margin: 23px 82px 18px 2px;
    padding: 30px 4px 28px 3px;
    font-family: ProductSans;
    font-size: 43px;
    font-weight: normal;
    font-stretch: normal;
    text-decoration: line-through;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: normal;
    text-align: left;
    color: rgba(42, 39, 45, 0.5);
}

.price-2 {
    font-family: ProductSans;
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5rem;
    text-align: center;
    color: #2a272d;
}

.buttons {
    display: inline;
    margin-top: 100px;
}

.add_to_cart {
    position: relative;
    bottom: 20px;
    text-align: center;
    border: #29272b;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    background-color: #29272b;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.buy_now {
    position: relative;
    bottom: 20px;
    border: #29272b;
    border-radius: 100px;
    width: 200px;
    height: 50px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border-radius: 800px;
    background-color: #ff9d00;
}

.column1 {
    float: left;
    width: 60%;
    padding: 70px;
}

.column2 {
    float: right;
    width: 40%;
}

.side_bar_scroll {
    border-radius: 305px 0px 0px 305px;
    height: 537px;
    width: 130%;
    background-image: linear-gradient(348deg, #29272b 75%, #302936 49%, #000 9%);
    text-align: center;
}

.sidebar_images {
    text-align: center;
    height: 90%;
    position: relative;
    top: 45px;
    right: 90px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Delivery  */

.contanier-2 {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 40px;
    font-weight: bolder;
    line-height: 3.13;
    letter-spacing: normal;
    text-align: left;
    color: #2a272d;
    padding-left: 40px;
}

h3 {
    color: #29272b;
    text-align: left;
    font-size: 30px;
    padding: 10px;
    padding-left: 20px;
}

.del_cont p {
    text-align: left;
    padding: 30px;
}

.del_cont {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.card_white {
    padding-top: 25px;
    width: 25%;
    height: 50%;
    background-color: #fff;
    float: right;
    margin: 30px;
    border-radius: 20px;
}

.card_black {
    padding-top: 25px;
    width: 25%;
    height: 50%;
    color: #fff;
    background-color: #29272b;
    margin: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.card_black h3 {
    color: #fff;
}


/* Menu */

.contanier-3 {
    height: 100%;
    width: 90%;
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.container ::after {
    padding: 0;
    margin: 0%;
}

.Menu {
    padding-right: 50px;
    font-size: 50px;
    font-weight: bold;
}

.Menu a:hover {
    font-size: 20px;
    position: relative;
    bottom: 40px;
    transition: 00ms;
}

.nav-tabs {
    padding: 0px;
    margin: 0px;
}

.nav-tabs li a {
    padding: 0px;
    padding-top: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin: 0px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    text-decoration: none;
    color: #000;
    font-size: 50px;
    transition-duration: 600ms;
    font-weight: bolder;
}

.tab-content {
    margin: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-left: 10px;
}

.menu_item {
    padding: 30px;
    font-family: ProductSans;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 5;
    letter-spacing: normal;
    color: #2a272d;
}

.menu_item a {
    color: #000;
}

.menu_item a:hover {
    text-decoration: none;
    color: #000;
}

.menu_card p {
    text-align: left;
    padding: 10px;
    color: #29272b;
}

.menu_card {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    color: #29272b;
    white-space: normal;
}

.pasta_card {
    width: 25%;
    height: 50%;
    float: right;
    margin: 20px 60px;
    border-radius: 30px;
    border: #424242 solid;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.pasta_card p {
    color: #29272b;
    font-size: 20px;
}

.pasta_images {
    width: 220px;
    height: 200px;
    border-radius: 30px;
}

.rating {
    float: left;
    margin-left: 20px;
}

.price {
    font-size: 20px;
    color: #2a272d;
    font-weight: bold;
}


/* Reviews */

.scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scroll::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.review_box {
    border: solid black;
    margin: 50px;
    padding: 10px;
    display: inline-block;
    white-space: normal;
    width: 65%;
    border-radius: 40px;
}

.review_profile_name {
    font-size: 20px;
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 10px;
}

.review_profile_name h4 {
    font-size: 20px;
    padding-left: 20px;
}

.review_social_media {
    float: right;
    padding: 30px;
    size: 50px;
}

.review_content {
    padding: 20px;
}


/* Form */

.container-6 {
    margin: 10px;
    width: 100%;
    height: 100%;
    padding: 50px;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.col_form {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
}

.row_form :after {
    display: table;
    clear: both;
}

.form_side_right {
    margin: 30px;
    padding: 30px;
}

.form_font_right {
    font-size: 30px;
    font-weight: bold;
}

input {
    width: 100%;
    height: 50px;
}

.col_form h2 {
    padding-top: 30px;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    line-height: normal;
}

.col_form h3 {
    margin: 10px;
}

.form_label {
    color: #ff9d00;
}

hr {
    border: 2px solid black;
    margin: 0%;
    padding: 0%;
}

.learn_more {
    color: #fff;
    background-color: #29272b;
    border-radius: 40px;
    font-size: 20px;
    text-align: center;
    width: 30%;
    margin-left: 30px;
}


/* Footer */

.container-7 {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow: hidden;
}

.container-7 hr {
    margin: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.footer_row::after {
    display: table;
    clear: both;
}

.footer_cols {
    width: 25%;
    float: left;
}

.footer_cols h2 {
    font-size: 40px;
    font-weight: 1000;
}

.footer_cols li {
    text-align: left;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 20px;
    color: #29272b;
    list-style: none;
}

.footer_cols li a {
    text-decoration: none;
    transition: none;
    color: #29272b;
}

.footer_cols li a:hover {
    color: #000;
    transition: none;
    text-decoration: none;
    font-size: 40px;
    transform: none;
    text-align: left;
    font-weight: 700;
    padding-left: 40px;
    padding-top: 20px;
    font-size: 20px;
    list-style: none;
}

.footer_cols .social_media_icons i {
    padding-left: 25px;
    padding-top: 20px;
}